:root {
  --main-font:Arial,sans-serif;
  --text-color-black: ;

}


html {
  box-sizing: border-box;
  height: 100%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 14px;
  color: #fff;
  background-image: url("../img/background.png");
  font-weight: 500;


}

.site-content {
  flex-grow: 1;
  padding-top: 50px;

}
